@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
    font-family: "Raleway", sans-serif, "Noto Sans KR", sans-serif;
    color: #222;
    line-height: 1.5em;
    font-weight: 300;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    color: #222;
    text-decoration: none;
}

section {
    border: 1px solid #000;
    width: 800px;
}

.btn {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.btn li {
    float: left;
    background-color: gray;
    cursor: pointer;
}

.btn li.active {
    background-color: #fff;
}

.tabs {
}

.tabs div {
    border: 1px solid #000;
    height: 200px;
    display: none;
}

.tabs div.active{
    display: block;
}
